footer{
  height: 100px;
  background-image: url("images/bg_footer.jpg");
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.facebook{
  width: 80px;
  height: 80px;
  background-image: url("images/button_fb.png");
}